<!-- START: CODE FINISHED BY CHRISTIAN -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Password Register Page</title>

    <!-- Links for the bootstrap and CSS file-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand logo">Password Manager</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                </ul>

                
            </div>
        </div>
    </nav>
    <!-- used to display error, warning or success messasges on screen-->
    <div class = "flash">
        {% with messages = get_flashed_messages(with_categories = true)%}
        {% if messages%}
            {% for category, message in messages%}
            <div class = "{{ category }}"><h2>{{message}}</h2></div>
            {%endfor%}
            {%endif%}
            {%endwith%}
    </div>

    <h1>Create your account</h1>

    <!-- Uses the HTTP POST to access the database and insert these values into the user table-->
    <form method = "POST" action="{{url_for('register')}}">
        <input type = "text" name="fullName" placeholder = "Full Name">
        <input type = "email" name = "email" placeholder = "Email">
        <input type = "password" name = "password" placeholder = "Password">
        <button type = "submit">Register</button>
        
    </form>
    Already have an account? <a href="{{ url_for('login') }}">Login</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<!-- END: CODE FINISHED BY CHRISTIAN -->